diffusers==0.29.2
imageio-ffmpeg==0.4.9
insightface==0.7.3
omegaconf==2.2.3
onnxruntime==1.16.3
safetensors==0.4.2
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.41.1
einops==0.4.1
tqdm==4.66.4
xformers==0.0.22
av==11.0.0